body{
  font-family: 'Solway', serif !important;
}

/* font-family: 'Open Sans', sans-serif;
font-family: 'Solway', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Public Sans', sans-serif;
font-family: 'Roboto Mono', monospace; */

.bold {
  font-weight: bold !important;
}


li{
  cursor: pointer !important;
}

.tc{
  text-align: center !important;
}


.pointer{
  cursor: pointer !important;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  /* z-index: -100; */
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.image-modal {
  transition: opacity 0.3s;
  position: fixed;
  top: 2cm;
  left: 0;
  right: 0;
  max-width: 1000px;
  height:500px;
  margin: 0 auto;
  padding: 30px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.3);
  z-index:100000;
}


.btn-disabled {
  cursor:not-allowed !important;
}




/* toggle section start
*/

ul, li {
list-style: none;

}
.tg-list {
text-align: center;
display: flex;
align-items: center;
}
.tg-list-item {
margin: 0px auto 0 auto;
}

.tgl {
display: none;
}
.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
box-sizing: border-box;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
background: none;
}
.tgl + .tgl-btn {
outline: 0;
display: block;
width: 4em;
height: 2em;
position: relative;
cursor: pointer;
user-select: none;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
position: relative;
display: block;
content: "";
width: 50%;
height: 100%;
}
.tgl + .tgl-btn:after {
left: 0;
}
.tgl + .tgl-btn:before {
display: none;
}
.tgl:checked + .tgl-btn:after {
left: 50%;
}
.tgl-light + .tgl-btn {
background: #f0f0f0;
border-radius: 2em;
padding: 2px;
transition: all 0.4s ease;
}
.tgl-light + .tgl-btn:after {
border-radius: 50%;
background: #fff;
transition: all 0.2s ease;
}
.tgl-light:checked + .tgl-btn {
background: #F95151;
}



#app-cover
{
  display: table;
  width: 100%;
  margin: 10px auto;
  counter-reset: button-counter;
}

.toggler-row
{
  display: table-row;
}

.toggle-button-cover
{
  display: table-cell;
  position: relative;
  width: 200px;
  height: 140px;
  box-sizing: border-box;
}

.button-cover
{
  height: 100px;
  margin: 20px;
  background-color: #fff;
  box-shadow: 0 10px 20px -8px #c5d6d6;
  border-radius: 4px;
}




/* .banner_section {
  padding-top: -2cm !important;
} */

.wop-card {
  max-width: 290px !important;
}


.thumbnail img {
  height: 144px !important;
}

.partner-videos-container #two-plus .card {
  max-width: 290px !important;
  min-width: auto;
}

.bio-section {
  padding: 0 0 0 20px !important;
}

.video-upload-container{
  background:#f3f0f0;
}



.video-form-container{
  padding: 0 20px 0 20px;
  margin-left: 20px;
}

.uploader-note{
  padding: 10px
}

.uploader-input{
  border: 1px solid rgb(204, 204, 204) !important;
  border-radius: 5px !important;
  min-height: 24px;
  font: 13.3333px Arial;
  padding: 10px;
}

.uploader-textarea{
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid rgb(204, 204, 204) !important;
  border-radius: 5px !important;
  background-color: #f8f8f8;
  resize: none;
}

.toast-box-success{
background:#190631 !important;
color:white !important;
text-transform: capitalize;
font-weight: bold;
text-shadow: inset 2px 2px 3px rgba(255,255,255,0.5);
}

.toast-box-error{
background:#ce1b47 !important;
color:white !important;
text-transform: capitalize;
font-weight: bold;
text-shadow: inset 2px 2px 3px rgba(255,255,255,0.5);
}

.list-search{
  border-radius: 1px solid lightgrey;
}

.left-span{
  float: left;
}

.right-span{
  float: right;
  color:rgb(3, 3, 48);
  font-weight: bold;
  font-size: 1rem;
}

li{
  /* padding: 10px 2px 10px 2px; */
}

.fb_reset{
  background: none;
  border: 0;
  border-spacing: 0;
  color: #000;
  cursor: auto;
  direction: ltr;
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  margin: 0;
  overflow: visible;
  padding: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  visibility: visible;
  white-space: normal;
  word-spacing: normal;
}


.pricing-container{
  width: 100% !important;
}

.main{
  background:#DFE4DE !important;
}


.border-bottom-radius-0{
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}


.border-top-radius-0{
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}


.form-footer-part{
  background:rgb(204, 206, 212) !important;
}



.form-control {
  font-size: .875rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  width: 100% !important;
  height: calc(1.1em + 1.2rem + 2px) !important;
  padding: .625rem .75rem !important;
  transition: all .2s cubic-bezier(.68,-.55,.265,1.55) !important;
  color: #232324 !important;
  border: 1px solid #cad1d7 !important;
  border-radius: .25rem !important;
  background-color: rgb(236, 237, 241) !important;
  background-clip: padding-box !important;
  box-shadow: none !important;
  box-shadow: 0 1px 3px rgba(50,50,93,.15), 0 1px 0 rgba(0,0,0,.02) !important;
  font-size: .875rem !important;
  margin-bottom: 5px !important;
  outline: none !important;
  font-weight: bold !important;
}


input{
font-size: .875rem !important;
font-weight: 400 !important;
line-height: 1.5 !important;
width: 100% !important;
height: calc(1.1em + 1.2rem + 2px) !important;
padding: .625rem .75rem !important;
transition: all .2s cubic-bezier(.68,-.55,.265,1.55) !important;
color: #232324 !important;
border: 1px solid #cad1d7 !important;
border-radius: .25rem !important;
background-color: rgb(236, 237, 241) !important;
background-clip: padding-box !important;
box-shadow: none !important;
box-shadow: 0 1px 3px rgba(50,50,93,.15), 0 1px 0 rgba(0,0,0,.02) !important;
font-size: .875rem !important;
margin-bottom: 5px !important;
outline: none !important;
font-weight: bold !important;
}



.checkbox-container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius:5px;
  background-color: rgb(204, 206, 212);
  display: block;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 7px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}




.coaches{
  border-radius: 10px !important;
}
.coaches:hover{
    transition: 0.5s;
    border-radius: 25px !important;
}

.short-video-icon {
  background-color: white;
  border-radius: 17px;
  box-shadow: 0 0 5px #000;
  color: black;
  font-size: 20px;
  height: 34px;
  line-height: 34px;
  left: 50%;
  margin-left: -17px;
  margin-top: -17px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 34px;
}



.background-video-styles {
  position: absolute;
  width: 100%;
  height: auto;
}


.coach-name{
  color:#fff;
  font-size:40px;
}

.coach-about-section-margin{
margin:0 2cm 0 2cm;
}

@media only screen and (max-width: 320px) {
.coach-about-section-margin{
  margin:0;
}
}

.dashboards-content{
margin-left: 7cm;
}

.dashboards-content-inactive{
margin-left: 0cm;
  background-color: white;
}


@media only screen and (max-width: 320px) {
.dashboards-content{
  margin-left: 0cm;
}
}


@media only screen and (max-width: 600px) {
.dashboards-content{
  margin-left: 0cm;
}
}

@media only screen and (max-width: 600px) {
  /* .background-video-styles {
      position: absolute;
      width: 100%;
      height: auto;
      margin-top:1.6cm;
  }
  .video-upper-texts{
      padding: 1cm 0 1cm 0;
      background: #126F80 !important;
      margin-top: -0.9cm;
  }
  .featured-fitness-container{
      margin-top: -6cm;
  } */
  .coach-name{
      color:#fff;
      font-size:20px;
  }
  .responsive-button{
      font-size: 13px !important;
  }
}


@media only screen and (max-width: 320px) {
  /* .background-video-styles {
      position: absolute;
      width: 100%;
      height: auto;
      margin-top:1.6cm;
  }
  .video-upper-texts{
      padding: 1cm 0 1cm 0;
      background: #126F80 !important;
      margin-top: -1.7cm;
  }
  .featured-fitness-container{
      margin-top: -3cm;
  } */
}


table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}

.inactive-users{background-color: rgb(245, 245, 245) !important}
.active-users{background-color: #fff !important}



::-webkit-scrollbar {
  width: 10px;
  box-shadow: 10px; }

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px; }

::-webkit-scrollbar-thumb {
  background: #525E76;
  border-radius: 5px; }

::-webkit-scrollbar-thumb:hover {
  background: rgb(45, 54, 73); }


  .mt20{
      margin-top: 20px;
  }

  .button-active{
      background: #ce1b47;
  }

  .filter-container{
      margin: 10px 0px;
  }




  .inline-list {
    display:inline !important;
  }

  .inline-list> li {
    display:inline !important;

  }





  .inline-ratings {
    display:inline !important;
  }

  .inline-ratings> li {
    display:inline !important;
    padding: 5px;
    color: #cad1d7;
  }

  .inline-ratings> li .inactive {
    display:inline !important;
    padding: 5px;
    color: rgb(180, 170, 170);
    font-size: 20px;
  }


  .inline-ratings> li .inactive-no-hover {
    display:inline !important;
    padding: 5px;
    color: rgb(180, 170, 170);
    font-size: 20px;
    cursor: auto;
  }

  .inline-ratings> li .inactive:hover {
    color: #f17588;
  }

  .inline-ratings> li > .active {
    display:inline !important;
    padding: 5px;
    color: #e92f4b;
    font-size: 20px;
  }

  .inline-ratings> li > .active-no-hover {
    display:inline !important;
    padding: 5px;
    color: #e92f4b;
    font-size: 20px;
    cursor: auto;
  }

  .inline-ratings> li .active:hover {
    color: #f17588;
  }



/* Slick Slider */

.testimonal-section {
width: 80%;
margin: auto;
}

/* Simple Slider */
.white-back{
box-shadow: 0 2px 5px rgba(0,0,0,0.2);
background: #fff;
}
.simple blockquote p {
border-top: 1px solid #ccc;
border-bottom: 1px solid #ccc;
color: #1e528e;
padding: 10px;
font-size: 1em;
font-style: italic;
text-align: center;
}


/* Bubble Slider */

.bubble blockquote {
margin: 10px 10px 0;
background: #fff;
padding: 50px 10px;
position: relative;
border: none;
border-radius: 8px;
font-size: 1em;
color: #1e528e;
}
.bubble blockquote:before, .bubble blockquote:after {
content: "\201C";
position: absolute;
font-size: 80px;
padding: 10px;
line-height: 1;
color: #1e528e;
}
.bubble blockquote:before {
top: 0;
left: 10px;
}
.bubble blockquote:after {
content: "\201D";
right: 10px;
bottom: -.5em;
}
.bubble div {
width: 0;
height: 0;
border-left: 0 solid transparent;
border-right: 20px solid transparent;
border-top: 20px solid #fff;
margin: 0 0 0 60px;
margin-bottom: 10px;
}



.comment{
width: 60% !important;
}

.videos-main-contents{
background:#f1f1f1;
}

.videos-inner-contents-coach{
margin-left:6.8cm;
}

.videos-inner-contents{
margin-left:0cm;
}

@media only screen and (max-width: 600px) {
.videos-inner-contents-coach{
  margin-left:0cm;
}

}

@media only screen and (min-width: 600px) {
.videos-inner-contents-coach{
  margin-left:0cm;
}

}


@media only screen and (min-width: 768px) {
.videos-inner-contents-coach{
  margin-left:0cm;
}

}

@media only screen and (min-width: 992px) {
.videos-inner-contents-coach{
  margin-left:6.8cm;
}

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
.videos-inner-contents-coach{
  margin-left:6.8cm;
}

}


.align-left{
text-align: left;
}

.f12{
font-size: 12px;
}


.fl{
float: left;
}

.fr{
float: right;
}

.f20{
font-size: 20px;
}

.facebook-icon{
color: #3b5998;
font-size: 40px;
padding: 20px;
}

.twitter-icon{
color: #38a1f3;
font-size: 40px;
padding: 20px;
}


.video-details {
  font-size: 12px;
  text-align: left;
  padding: 15px;
}
.video-details .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0;
  margin-left: 0;
}
.video-details .col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
.video-details .col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.video-details .col-11 {
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}
.video-details .comment-options {
  text-align: right;
}
.video-details .comment-options a {
  color: #6d6d6b;
  font-size: 14px;
}
.video-details .comment-options a:not(:first-child) {
  margin-left: 20px;
}
.video-details img {
  /* max-width: 100%; */
  /* border-radius: 100%; */
}
.video-details hr {
  border-color: #c7c7c7;
  margin: 2em 0 2em;
}
.video-details .description {
  margin: 20px 0;
}
.video-details a {
  font-weight: bold;
}
.video-details .margin-top-10 {
  margin-top: 10px;
}
.video-details .margin-top-20 {
  margin-top: 20px;
}
.video-details .margin-left-20 {
  margin-left: 20px;
}
.video-details .padding-right-20 {
  padding-right: 20px;
}
.video-details .padding-right-25 {
  padding-right: 25px;
}
.video-details .comment-sort-container {
  font-size: 14px;
}

.fa{
  font-size: 18px !important;

}

.f40{
  font-size:40px !important;
}

.access-type-icons {
  color: rgb(154, 163, 153);
  margin:5px 10px;
  font-size: 40px !important;
  cursor: pointer;
}

.access-type-icons-active{
  color: #525E76 !important; 
  cursor: auto;
}

.access-type-icons:hover {
  color: #525E76;
}


.user-allowed-title{
  font-size: 20px !important;
  margin-top: -20px;
  cursor: pointer;
}

.user-allowed-title:hover{
  color: blue;
}

.auto-cursor {
  cursor: auto !important;
}